<ion-view title="KnowHow" hide-nav-bar="true">
  <ion-content id="login_container">
    <div class="row row-center">
      <div class="col col-center">
        <img src="img/inicio_knowhow_logo_1.png">
      </div>
    </div>
    <div class="row">
      <div class="col-80 col-offset-10 col-center">
        <input type="email" class="login-email" value="daniel@q-ark.mx">
      </div>
    </div>
    <div class="row">
      <div class="col-80 col-offset-10 col-center">
        <div class="login-button" on-tap="doLogin()">Iniciar sessión</div>
      </div>
    </div>
    <div class="row">
      <div class="col-60 col-offset-20 col-center login-check">
        <ion-checkbox ng-model="isChecked">Recordar sesión</ion-checkbox>
      </div>
    </div>
  </ion-content>
</ion-view>