<ion-view title="KnowHow">
  <ion-content>
    <div class="section-image audio-back" style="background-image: url('{{main.image}}')"></div>
    <div class="audio-controls">
      <div class="row row-center">
        <div class="col center">
          <i on-tap="toggle()" ng-class="{'ion-ios7-play': !play,'ion-ios7-pause': play}"
             class="multimedia-icon button button-icon icon"></i>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="range range-dark">
            <span ng-bind="currentTime"></span>
            <input type="range" name="volume" ng-model="playTime" disabled>
            <span ng-bind="duration"></span>
          </div>
        </div>
      </div>
    </div>
    <audio id="player" src="{{main.url}}" preload="auto" width="0" height="0"></audio>
    <div on-tap="loadAudio(audio)" ng-repeat="audio in audios">
      <div class="section">
        <div class="section-image" style="background-image: url('{{audio.image}}')">
          <div class="black-fade"></div>
          <p>{{audio.title}}</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>