<ion-view title="KnowHow">
    <ion-content>
        <div ui-calendar="uiConfig.calendar" ng-model="eventSources"></div>
    </ion-content>
</ion-view>

<script id="my-modal.html" type="text/ng-template">
    <ion-modal-view>
        <ion-content>
            <div class="event-detail">
                <div class="row">
                    <div class="col-67 right">
                        <h1>{{detail.month}}/ </h1>
                    </div>
                    <div class="col-33 left">
                        <p class="detail-number">{{detail.date.getDate()}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-20 center">
                        <div class="cell-eventA"></div>
                    </div>
                    <div class="col-80">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco
                    </div>
                </div>
                <div class="row">
                    <div class="col-20 center">
                        <div class="cell-eventB"></div>
                    </div>
                    <div class="col-80">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco
                    </div>
                </div>
                <div class="row">
                    <div class="col-20 center">
                        <div class="cell-eventC"></div>
                    </div>
                    <div class="col-80">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco
                    </div>
                </div>
                <div class="row">
                    <div class="col center">
                        <button class="button full" on-tap="closeModal()">
                            Listo
                        </button>
                    </div>
                </div>
            </div>
        </ion-content>
    </ion-modal-view>
</script>